<nav class="sb-topnav navbar navbar-expand navbar-dark bg-light">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">
        <!-- Logo text --><span>

             <!-- Light Logo text -->
             <img src="/static/assets/img/logo-bus.png" id="bus-logo" alt="homepage" /></span>
     </a>
     <div id="conglomerado">
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item">
            <a class="nav-link" href="/page-profile.html">
                <img src="/static/assets/img/fatec-camp.jpg" alt="user" id="logo-conglomerado">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/page-profile.html">
                <img src="/static/assets/img/etec.jpg" alt="user" id="logo-conglomerado">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/page-profile.html">
                <img src="/static/assets/img/cps.jpg" alt="user" id="logo-conglomerado">
            </a>
        </li>
    </ul>
</div>
</nav>