<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Bus Organizer</div>
            <a class="nav-link" href="/index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Início
            </a>
            <a class="nav-link" href="/users">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                Usuários
            </a>
            <a class="nav-link" href="/vehicles">
                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                Veículos
            </a>
            <a class="nav-link" href="/clients">
                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                Clientes
            </a>
            <a class="nav-link" href="/routes">
                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                Rotas
            </a>
            <a class="nav-link" href="/logout" id="logout-button">
                <div class="sb-nav-link-icon"><i class="fas fa-power-off"></i></div>
                Logout
            </a>
        </div>
    </div>
</nav>